*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-bottom: solid 1px #000;
    padding-bottom: 30px;
}

.container label{
    margin: 0 10px;
}

.container input{
    margin: 0 10px;
}

.container select{
    margin: 0 10px;
}

.container button{
    margin: 0 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

main .comum{
    width: 30%;
    max-width: 350px;
    height: 50vh;
    border: 1px dashed #000;
    border-top: none;
    border-bottom: none;
    padding: 15px;
    margin: 5px;
    font-size: 35px;
}

li {
    margin-left: 40px;
}
